{% extends 'base.html' %}

{% block content %}

 <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for i in categories %}
          <a class="p-2 text-muted" href="/category/{{ i.id }}/">{{i.category_name}}</a>
          {% endfor %}
        </nav>
      </div>

<div class="row">

    {% include "dashboard/slider.html" %}

    <!-- Right side content -->
    <div class="col-md-9">
        <span>Logged in as <b>{{ user }}</b></span> 
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{categories_count}}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">All posts</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title text-center">{{blogs_count}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}